<div class="left-sidebar">
  <h2>Category</h2>
  <div class="panel-group category-products" id="accordian">
    <!--category-productsr-->
    <ng-container *ngFor="let category of categories">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a *ngIf="category.subCategories.length==0" data-parent="#accordian" [routerLink]="['/category']" [queryParams]="{categoryId:category.Id}">
              {{category.Name}}
            </a>
            <a *ngIf="category.subCategories.length>0" data-toggle="collapse" data-parent="#accordian" href="#item{{category.Id}}">
              <span class="badge pull-right"><i class="fa fa-plus"></i></span>
              {{category.Name}}
            </a>
          </h4>
        </div>
        <div *ngIf="category.subCategories.length>0" id="item{{category.Id}}" class="panel-collapse collapse">
          <div class="panel-body">
            <ul *ngFor="let catelement of category.subCategories">
              <li><a [routerLink]="['/category']" [queryParams]="{categoryId:catelement.Id}">{{catelement.Name}} </a></li>
            </ul>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
  <!--/category-products-->

  <div class="price-range">
    <!--price-range-->
    <h2>Price Range</h2>
    <div class="well text-center">
      <input type="text" class="span2" value="" data-slider-min="0" data-slider-max="600" data-slider-step="5" data-slider-value="[250,450]" id="sl2"><br />
      <b class="pull-left">$ 0</b> <b class="pull-right">$ 600</b>
    </div>
  </div><!--/price-range-->

  <div class="shipping text-center">
    <!--shipping-->
    <img src="assets/images/home/shipping.jpg" alt="" />
  </div><!--/shipping-->
</div>
