<body>
  <!-- Navigation-->
  <app-nav-menu></app-nav-menu>
  <!-- Header-->
  <!--<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
      <div class="text-center text-white">
        <h1 class="display-4 fw-bolder">Shop in style</h1>
        <p class="lead fw-normal text-white-50 mb-0">With this shop hompeage template</p>
      </div>
    </div>
  </header>-->
  <!-- Section-->
  <router-outlet></router-outlet>
  <!-- Footer-->
  <footer class="py-5 bg-dark">
    <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Your Website 2021</p></div>
  </footer>
</body>
