@{
    ViewData["Title"] = "Error";
}


<div class="text-center">
    <h1 class="text-danger">Giới hạn truy cập</h1>
    <h6 class="text-danger">Bạn không có quyền truy cập vào trang này</h6>
    <img src="~/images/access_denied.png" style="width:30%;height:30%;"/>
</div>
    
