<!--<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container px-4 px-lg-5">
      <a class="navbar-brand" [routerLink]="['/']">Angular Shop</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent" [ngClass]="{ show: isExpanded }">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
          <li class="nav-item"
              [routerLinkActive]="['link-active']"
              [routerLinkActiveOptions]="{ exact: true }">
            <a class="nav-link text-dark" [routerLink]="['/']">Home</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/counter']">Counter</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']" *ngIf="isLoggedIn">
            <a class="nav-link text-dark" [routerLink]="['/vantan']">List Users</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']" *ngIf="!isLoggedIn">
            <a class="nav-link text-dark" [routerLink]="['/login']">Login</a>
          </li>
          <li ngbDropdown *ngIf="isLoggedIn" class="nav-item dropdown">
            <a ngbDropdownToggle class="nav-link dropdown-toggle" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ user.UserName}}</a>
            <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdown01">
              <a class="dropdown-item" [routerLink]="['/my/orders']">My Orders</a>
              <a class="dropdown-item" [routerLink]="['/admin/orders']">Manage Orders</a>
              <a class="dropdown-item" [routerLink]="['/admin/products']">Manage Products</a>
              <a class="dropdown-item" (click)="logout()">Logout</a>
            </div>
          </li>
        </ul>
        <app-cart-left></app-cart-left>
      </div>
    </div>
  </nav>
</header>-->
<header id="header">
  <!--header-->
  <div class="header_top">
    <!--header_top-->
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <div class="contactinfo">
            <ul class="nav nav-pills">
              <li><a href="#"><i class="fa fa-phone"></i> +0000000000</a></li>
              <li><a href="#"><i class="fa fa-envelope"></i> info@domain.com</a></li>
            </ul>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="btn-group pull-right clearfix">
            <div class="btn-group">
              <button type="button" class="btn btn-default dropdown-toggle usa" data-toggle="dropdown">
                USA
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                <li><a href="">VietNam</a></li>
                <li><a href="">UK</a></li>
              </ul>
            </div>
          </div>
          <div class="social-icons pull-right">
            <ul class="nav navbar-nav">
              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
              <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
              <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div><!--/header_top-->

  <div class="header-middle">
    <!--header-middle-->
    <div class="container">
      <div class="row">
        <div class="col-md-4 clearfix">
          <div class="logo pull-left">
            <a [routerLink]="['/']"><img src="assets/images/home/logo.png" alt="" /></a>
          </div>
        </div>
        <div class="col-md-8 clearfix">
          <div class="shop-menu clearfix pull-right">
            <ul class="nav navbar-nav">
              <li><a [routerLink]="['/card']"><i class="fa fa-user"></i> Account</a></li>
              <li><a [routerLink]="['/checkout']"><i class="fa fa-crosshairs"></i> Checkout</a></li>
              <li>
                <app-cart-left></app-cart-left>
              </li>
              <li><a [routerLink]="['/login']"><i class="fa fa-star"></i> Login</a></li>
              <li ngbDropdown *ngIf="isLoggedIn" class="dropdown">
                <a ngbDropdownToggle class="dropdown-toggle" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{user.UserName}}</a>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                  <li><a class="dropdown-item" [routerLink]="['/my/orders']">My Orders</a></li>
                  <li><a class="dropdown-item" [routerLink]="['/my/orders']">Manage Orders</a></li>
                  <li><a class="dropdown-item" [routerLink]="['/my/products']">Manage Products</a></li>
                  <li><a class="dropdown-item" (click)="logout()">Logout</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div><!--/header-middle-->

  <div class="header-bottom">
    <!--header-bottom-->
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>
          <div class="mainmenu pull-left">
            <ul class="nav navbar-nav collapse navbar-collapse">
              <li><a href="index.html" class="active">Home</a></li>
              <li class="dropdown">
                <a href="#">Shop<i class="fa fa-angle-down"></i></a>
                <ul role="menu" class="sub-menu">
                  <li><a href="shop.html">Products</a></li>
                  <li><a [routerLink]="['/checkout']">Checkout</a></li>
                  <li><a [routerLink]="['/card']">Cart</a></li>
                </ul>
              </li>
              <li class="dropdown">
                <a href="#">Blog<i class="fa fa-angle-down"></i></a>
                <ul role="menu" class="sub-menu">
                  <li><a href="blog.html">Blog List</a></li>
                  <li><a href="blog-single.html">Blog Single</a></li>
                </ul>
              </li>
              <li><a href="404.html">404</a></li>
              <li><a href="contact-us.html">Contact</a></li>
            </ul>
          </div>
        </div>
        <div class="col-sm-6">
          <app-searchform></app-searchform>
        </div>
      </div>
    </div>
  </div><!--/header-bottom-->
</header><!--/header-->
