<h2>List User</h2>
<ul class="heroes">
  <li *ngFor="let userRegister of UserRegisters" (click)="onSelect(userRegister)">
    <span class="badge">{{userRegister.UserName}}</span>{{userRegister.LastName}}
  </li>
</ul>
<div *ngIf="selecteduserRegister">

  <h2>{{ selecteduserRegister.UserName | uppercase }} Details</h2>
  <div><span>FirstName: </span>{{selecteduserRegister.UserName}}</div>
  <div>
    <label>
      UserName:
      <input [(ngModel)]="selecteduserRegister.UserName" (ngModelChange)="setUppercaseName($event)" placeholder="UserName">
    </label>
  </div>

</div>
<div>
  Pick your favorite hero
  (<label><input type="checkbox" checked (change)="showSad = !showSad">show nam</label>)
</div>
<select [(ngModel)]="hero">
  <ng-container *ngFor="let h of UserRegisters">
    <ng-container *ngIf="showSad || h.UserName !== 'Tân Vũ'">
      <option [ngValue]="h.UserName">{{h.UserName}} ({{h.LastName}})</option>
    </ng-container>
  </ng-container>
</select>

<h2>Power Boost Calculator</h2>
<div [style]="styleExpression" [class]="classExpression">Normal power: <input #abc [(ngModel)]="power"></div>
<div>Boost factor: <input [(ngModel)]="factor"></div>
<p>
  lay gia tri: {{factor}}
  Super Hero Power: {{power | exponentialStrength: factor}}
</p>
