<section>
  <div class="container">
    <div class="row">
      <div class="col-sm-3">
        <app-left-sidebar></app-left-sidebar>
      </div>
      <div class="col-sm-9 padding-right">
        <div class="features_items">
          <!--features_items-->
          <h2 class="title text-center">Features Items</h2>
          <ng-container *ngFor="let product of products | paginate: config">
            <div class="col-sm-4">
              <div class="product-image-wrapper">
                <div class="single-products">
                  <div class="productinfo text-center">
                    <img src="images/shop/product12.jpg" alt="" />
                    <h2>${{product.Price}}</h2>
                    <p>{{product.ProName}}</p>
                    <a [routerLink]="['/product-detail']" [queryParams]="{ProId:product.ProId}" class="btn btn-default add-to-cart">
                      Detail
                    </a>
                  </div>
                </div>
                <div class="choose">
                  <ul class="nav nav-pills nav-justified">
                    <li><a href=""><i class="fa fa-plus-square"></i>Add to wishlist</a></li>
                    <li>
                      <a (click)="addItemToCart(product.ProId)">
                        <i class="fa fa-shopping-cart"></i>
                        Add to cart
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </ng-container>
          <div class="card-footer pb-0 pt-3">
            <pagination-controls [id]="config.id"
                                 [maxSize]="maxSize"
                                 [directionLinks]="directionLinks"
                                 [autoHide]="autoHide"
                                 [responsive]="responsive"
                                 [previousLabel]="labels.previousLabel"
                                 [nextLabel]="labels.nextLabel"
                                 [screenReaderPaginationLabel]="labels.screenReaderPaginationLabel"
                                 [screenReaderPageLabel]="labels.screenReaderPageLabel"
                                 [screenReaderCurrentLabel]="labels.screenReaderCurrentLabel"
                                 (pageChange)="onPageChange($event)"
                                 (pageBoundsCorrection)="onPageBoundsCorrection($event)"></pagination-controls>
          </div>
        </div><!--features_items-->
      </div>
    </div>
  </div>
</section>
