@model ProductsViewModel
@{
    ViewData["Title"] = "Detail Product";
    string parthfirst = null;
    if (Model.Photos.Count>0)
    {
        parthfirst = Model.Photos[0].Featured;
    }
    var pathinfo = "~/images/" + (parthfirst ?? "noimage.jpg");
    var param = new Dictionary<string, string>
    {
        {"id","2" },
        {"keyword","2" }
    };
}

<div class="wrapper">
    <div class="container">
        <div class="row g-1">
            <div class="col-md-3">
                <div class="card p-3">
                    <div class="text-center"> <img src="@pathinfo" width="200" asp-append-version="true"> </div>
                    <div class="product-details">
                        <span class="font-weight-bold d-block">$ 7.00</span> <span>@Model.ProName</span>
                        <div class="buttons d-flex flex-row">
                            <div class="cart"><i class="fa fa-shopping-cart"></i></div> <button class="btn btn-success cart-button btn-block"><span class="dot">1</span>Add to cart </button>
                        </div>
                        <div class="weight"> <small>1 piece 2.5kg</small> </div>
                    </div>
                    <a asp-action="edit" asp-controller="Home" asp-all-route-data="param" asp-route-id="@Model.ProId" class="btn btn-primary">Edit</a>
                </div>
            </div>
        </div>
    </div>
</div>