<p><a routerLink="/admin/products/new" class="btn btn-primary">New product</a></p>
<p>
  <input #query (input)="filter(query.value)" type="text" class="form-control" placeholder="Search...">
</p>
<h6 class="pb-2 mb-0">Products</h6>
<table class="table">
  <thead>
    <tr>
      <th scope="col">ProName</th>
      <th scope="col">ProCategory</th>
      <th scope="col">Unit</th>
      <th scope="col">StockQuatity</th>
      <th scope="col">Price</th>
      <th scope="col">Status</th>
      <th scope="col">Description</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of items | paginate: config">
      <td>
        <!--<span *ngIf="item.new" class="badge badge-primary">new</span>-->
        {{item.ProName}}
      </td>
      <td>{{item.ProCategory}}</td>
      <td>{{item.Unit}}</td>
      <td>{{item.StockQuatity}}</td>
      <td>{{item.Price}}</td>
      <td>{{item.Status}}</td>
      <td>{{item.Description.substring(0,100)}}</td>
      <td>
        <button (click)="delete(item)" class="btn btn-danger btn-sm">
          <span class="oi oi-trash"></span>
        </button>
      </td>
    </tr>
    <tr>
      <td colspan="6">
        <pagination-controls [id]="config.id"
                             [maxSize]="maxSize"
                             [directionLinks]="directionLinks"
                             [autoHide]="autoHide"
                             [responsive]="responsive"
                             [previousLabel]="labels.previousLabel"
                             [nextLabel]="labels.nextLabel"
                             [screenReaderPaginationLabel]="labels.screenReaderPaginationLabel"
                             [screenReaderPageLabel]="labels.screenReaderPageLabel"
                             [screenReaderCurrentLabel]="labels.screenReaderCurrentLabel"
                             (pageChange)="onPageChange($event)"
                             (pageBoundsCorrection)="onPageBoundsCorrection($event)"></pagination-controls>
      </td>
    </tr>
    <tr *ngIf="loading">
      <td colspan="5" align="center">Fetching Product</td>
    </tr>
  </tbody>
</table>


